body {
    width: 100vw;
    cursor: crosshair;
    overflow: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

.scroll-page {
    overflow: auto !important;
}

.margin-auto {
    margin: auto;
}

.home-bg-vid {
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
    overflow: hidden;
}

.mr-30 {
    margin-right: 30px;
}

.mr-105 {
    margin-right: 105px;

}

.shop-vid {
    position: fixed;
    opacity: 0.8;
}

.art-vid {
    position: fixed;
    opacity: 0.9;
}


.art-img {
    width: 100%;
}

.art-wrap {
    background: linear-gradient(252.44deg, #C2ADF4 0%, #FDC4E9 11.46%, #80E0FC 48.96%, #ACAFFF 76.04%, #CC94FF 100%);
    padding: 6px;

}

.no-wrap {
    white-space: nowrap;
}

.art-col {
    padding-block: 12px;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

/* ANIMATE LIQUID FILL */
.liquid {
    transform: translateX(100%);
    transform: translateY(100%);
    opacity: 0.9;
    animation: fill 3.2s linear infinite;
    animation-fill-mode: forwards;
}

.load-container {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.product-link {
    color: #000;
    text-decoration: none;
    box-shadow: none;
}

.product-link:hover {
    color: #000 !important;
}

.sub-filler {
    height: 32px;
}


.product-box {
    height: max(34vh, 330px);
    margin-block: 2.5vh;
    font-weight: bold;
}

.pt-center {
    padding-top: calc(17vh - 15px)
}

.product-box:hover {
    cursor: pointer;

}

.flip-container {}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

/* flipping speed here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* making the the other side hidden while flipping */

.front,
.back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front side is in front of a back side */

.front {
    background: rgba(237, 255, 236, 0.9);

    z-index: 2;
}

/* back side */

.back {
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}


button {
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 21px;
    margin-inline: 5px;
    color: white;
    background: transparent;
}

button:hover {
    background: linear-gradient(252.44deg, #C2ADF4 0%, #FDC4E9 11.46%, #80E0FC 48.96%, #ACAFFF 76.04%, #CC94FF 100%);

}

.product-text {
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-inline: 40px;
}

.product-grid {
    margin-inline: auto;
    margin-top: 12.5vh;
}

.product-desc {
    width: 50%;
    padding-block: 10px;
}

.product-img-wrap {
    padding-block: 10px;
    height: 60%;
    text-align: right;
}

.product-wrap {
    overflow: hidden;
}

.product-desc {
    margin-left: 15px;

}

.product-img {
    padding: 10px;
    padding-right: 20px;
    max-height: 100%;
    max-width: 100%;
}

.product-title {
    font-size: 30px;
    line-height: 1.2;
}

.product-title.smaller {
    font-size: 22px;
}

.product-subtitle {
    font-size: 12px;
    font-weight: lighter;
    margin-block: 20px;
}

/* .img-1 {
    background: rgba(144, 175, 224, 0.9)
}

.img-2 {
    background: rgba(228, 205, 174, 0.9)
}

.img-3 {
    background: rgba(203, 198, 196, 0.9)
}

.img-4 {
    background: rgba(222, 230, 191, 0.9);

}

.img-5 {
    background: rgba(236, 149, 97, 0.9)
}

.img-6 {
    background: rgba(254, 167, 191, 0.9)
}

.img-7 {}

.img-8 {}

.img-9 {} */

.full-page {
    height: 100%;
}

@keyframes fill {
    0% {
        opacity: 0.5;
        transform: translateY(100%);
    }

    60% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ANIMATE STEAM */
.steam {
    stroke: #F7F7F7;
    stroke-width: 1.5px;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: steamAnimate 2.5s linear infinite;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

@keyframes steamAnimate {
    10% {
        stroke-dashoffset: 200;
    }

    70% {
        stroke-dashoffset: 0;
    }
}

audio {
    z-index: 3 !important;
}

a, a:hover {
    color: white;
}

a>.discord:hover {
    text-shadow: 0px 6px 4px #4D6CEE;
}

a>.twitter:hover {
    text-shadow: 0px 6px 4px #009FED;
}

a>.instagram:hover {
    text-shadow: 0px 6px 4px #DC4359;
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: min(10vh, 100px);
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 30px;
    text-align: left;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1100px) {
    .nav-bar {
        padding-left: 30px;
        padding-top: 30px;
    }
}

.home-link {
    text-decoration: none;
}


.cc-logo {
    height: min(10vh, 100px);
    z-index: 2;
}


.logo-text {
    font-size: 32px;
    color: white;
    padding-left: 15px;
    text-shadow: 2px 2px 3px #C2ADF4, ;
    font-weight: bolder;
    z-index: 2;
}

@media screen and (min-width: 820px) {
    .logo-text {
        font-size: min(4.5vh, 45px);
        padding-left: 30px;
    }
}

.pic {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100vw;
}

.blur {
    height: 100%;
}

#vidBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate(calc((100% - 100vw) / 2), calc((100% - 100vh) /2));
}

.social-container {
    display: none;
    animation: createBox .25s;
    position: absolute;
    padding-left: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: calc(35vh - 67px);
    z-index: 0;
}

.social-container-mobile {
    display: none;
}

.social-btn.btn2 {
    padding-block: 30px;
}

.middle-btn-mobile {
    padding-inline: 30px;
}

#under-img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 825px) {
    .social-container-mobile {
        padding-left: 0px;
        display: none;
        animation: createBox .25s;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: calc(30% - 79px);
        z-index: 0;
    }
}



@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.btn-join {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 35vh;
    width: 260px;
    height: 67px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.5), 8px 8px 20px rgba(255, 255, 255, 0.5) inset;
    border-radius: 15px;
    z-index: 1;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    padding-block: 18px;

}

.btn-join:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(252.44deg, #C2ADF4 0%, #FDC4E9 11.46%, #80E0FC 48.96%, #ACAFFF 76.04%, #CC94FF 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}

.btn-join:hover:before {
    background:
        linear-gradient(rgba(220, 31, 255, 1) 100%), rgba(0, 255, 163, 1), rgba(3, 225, 255, 1) 100%, rgba(0, 255, 163, 1);
    -webkit-mask: none;
    mask: none;
}

.btn-join:hover {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

#mute-btn, #unmute-btn {
    float: right;
    cursor: pointer;
    color: #fff;
}

.shop-btn {
    cursor: pointer;
}

#mute-btn, #mute-btn-mobile, #spotlight-btn, #mute-btn2, #mute-btn-mobile2 {
    display: none;
}

.sound-ctrl-mobile {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
}

.grad-shadow-1 {
    text-shadow: 2px 2px 4px #C2ADF4;
}

.grad-bridge-1 {
    text-shadow: 2px 2px 4px #e4baee;
}

.grad-shadow-2 {
    text-shadow: 2px 2px 4px #FDC4E9;
}

.grad-bridge-2 {
    text-shadow: 2px 2px 4px #d1b9f5;
}

.grad-shadow-3 {
    text-shadow: 2px 2px 4px #80E0FC;
}

.grad-bridge-3 {
    text-shadow: 2px 2px 4px #99c5fe;
}

.grad-shadow-4 {
    text-shadow: 2px 2px 4px #ACAFFF;
}

.grad-shadow-5 {
    text-shadow: 2px 2px 4px #CC94FF;
}

.grad-shadow-5:hover {
    text-shadow: 1px 1px 2px #CC94FF;
}



.cross-line {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    color: #fff !important;
    position: absolute;
    bottom: 23px;
    left: 73px;

}

.cross-line:after {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    content: '\d7';
    /* use the hex value here... */
    font-size: 37px;
    color: #fff !important;
    line-height: 100px;
}

.slightly-smaller-icon {
    font-size: 2.85em;
}


.sound-ctrl, .search-ctrl {
    display: none;
}

.sound-ctrl:hover, .search-ctrl:hover {
    cursor: pointer;
}

@media screen and (min-width: 520px) {
    .sound-ctrl, .search-ctrl {
        color: #fff;

        display: block;
        position: relative;
        padding-top: 1vh;
        padding-left: 30px;
        bottom: auto;
        right: auto;
    }

    .sound-ctrl-mobile {
        display: none;
    }

    #vidBG {
        z-index: -1;
    }
}


@media screen and (min-width: 820px) {
    .shop-btn {
        position: absolute;
        top: calc(1vh + 30px);
        right: 30px;
        z-index: 2;
    }

    .art-btn {
        position: absolute;
        top: calc(1vh + 30px);
        right: 105px;
        z-index: 2;
    }

    .art-btn.shop-page {
        right: 30px;
    }
}


@media screen and (max-width: 820px) {
    .sound-ctrl, .search-ctrl {
        padding-top: 0px;
    }

    .shop-btn {
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 2;

    }

    .art-btn {
        position: fixed;
        bottom: 30px;
        left: calc(50vw - 15px);
        z-index: 2;

    }

    .art-btn.shop-page {
        left: 30px;
    }
}

.design-btn-mobile {
    display: none;
    margin-top: 30px;

}

.card-buttons {
    float: bottom;
}

@media screen and (max-width: 520px) {
    .btn-join {
        bottom: 22vh;
    }

    .social-container-mobile {
        padding-left: 0px;
        display: none;
        animation: createBox .25s;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: calc(22vh - 79px);
        z-index: 0;
    }

    .design-btn {
        display: none
    }

    .mr-105{
        margin-right: 30px;
    }

    .design-btn-mobile {
        display: block
    }



    /* .home-bg-vid {
        margin-top: -8vh;
    } */
}

.header-text {
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    padding-block: 25px;
    width: 80%;
}


@media screen and (max-width: 520px) {
    .header-text{
        width: 100%;
    }


    .mobile-2x {
        font-size: 2em;
    }
}



.video-header-with-type {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.background-video-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.background-video-inset {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: calc(2*100vh);
    width: auto;
    transform: translate3d(-50%, -50%, 0);


}

.background-video-inset::before {
    content: '';
    display: block;
    z-index: -3;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

/* @media(max-width: 900px) {
    .background-video-inset {
        min-width: 1200px;

    }
}

@media(max-width: 600px) {
    .background-video-inset {
        min-width: 800px;

    }
} */

iframe {
    position: absolute;
    top: -60px;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% + 120px);
}